# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/

# VSCode
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store

# Environment files
.env

# Bytecode & Caches
*.egg-info/
.eggs/
.cache/
